<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%  if matches %}
{% for match in matches%}
    {{ match.id}} id
    <br>
    {{ match.team1 }} team1
        <br>
    {{ match.team2 }} team2
        <br>
    {{ match.tournaments_id }}
    <br>
    {{ match.tournaments__name }}
    <br>

{% endfor %}
    {% for users in user%}
    {{ users.id}} id
    <br>
    {{ users.nickname }} nickname
     <br>
    {% endfor %}
{% else %}
    <p>Matchei net</p>
{% endif %}
</body>
</html>